.d-flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-col-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.d-flex-betw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-block {
    display: block;
}

.card-bg-c {
    background-color: hsl(244, 38%, 16%);
}

.special-word-c {
    color: hsl(277, 64%, 61%);
}

.main-padding {
    padding: 30px;
}

.card-left-b-radius {
    border-radius: 10px 0 0 10px;
}

.card-right-b-radius {
    border-radius: 0 10px 10px 0;
}

.margin-bott {
    margin-bottom: 20px;
}

.parag-style {
    font-size: 0.75em;
    line-height: 1.7;
    color: rgb(205, 205, 205);
}
